* {
    font-family: FiraCodeNerdFontBold;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.7);
    border-top: 1px solid rgba(124, 111, 100, 1.0);
    padding-top: 5px;
    color: rgba(235, 219, 178, 1.0);
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    color: rgba(235, 219, 178, 1.0);
}

#battery {
    padding-right: 8px;
}
