@define-color nord_bg_color #2E3440;
@define-color nord_bg_80_color rgba(46, 52, 64, 0.8);
@define-color nord_fg_color #D8DEE9;
@define-color nord_fg_50_color rgba(216, 222, 233, 0.5);
@define-color nord_red_color #BF616A;
@define-color nord_red_50_color rgba(191, 97, 106, 0.5);
@define-color nord_orange_color #D19A66;
@define-color nord_orange_50_color rgba(209, 154, 102, 0.5);
@define-color nord_yellow_color #EBCB8B;
@define-color nord_yellow_50_color rgba(235, 203, 139, 0.5);
@define-color nord_green_color #A3BE8C;
@define-color nord_green_50_color rgba(163, 190, 140, 0.5);
@define-color nord_cyan_color #88C0D0;
@define-color nord_cyan_50_color rgba(136, 192, 208, 0.5);
@define-color nord_blue_color #5E81AC;
@define-color nord_blue_50_color rgba(94, 129, 172, 0.5);
@define-color nord_purple_color #B48EAD;
@define-color nord_purple_50_color rgba(180, 142, 173, 0.5);
@define-color transparent rgba(0, 0, 0, 0);

* {
    font-family: AdwaitaMono Nerd Font, sans-serif;
    font-size: 15px;
    border: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
    background-image: none;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    text-shadow: none;
    color: inherit;
}

#bar {
    margin: 0.5rem;
}

.workspaces, .upower, .focused, .clock, .popup-clock, .volume, .popup-volume {
    background-color: @nord_bg_80_color;
}

.workspaces .item {
    border: none;
    margin: 0.5rem;
    background-color: transparent;
    color: @nord_50_fg_color;
}

.workspaces .item.focused {
    color: @nord_fg_color;
    border-bottom: 3px solid transparent;
    border-color: @nord_fg_color;
}
