@import 'theme';

$bg-transparent: change-color($background, $alpha: 0.8);
$border: 2px solid $line;

.background {
  background-color: transparent;
  padding: 8px;
}

.bar-container {
  padding: 8px;
  background-color: $bg-transparent;
}

.logo {
  font-size: x-large;
}

.metric {
  all: unset;

  scale,
  progressbar {
    trough {

      highlight,
      progress {
        border-radius: 10px;
        min-width: 5px;
        min-height: 50px;
        background: $red;
      }

      background: $box;
      border-radius: 50px;
      min-height: 50px;
      min-width: 5px;
      border-radius: 50px;
    }
  }

  min-height: 50px;
  min-width: 5px;
  border-radius: 50px;
}

.sessions,
.start {
  background-color: $bg-transparent;
  padding: 12px;
  border-top-right-radius: 10px;

  .title {
    font-size: large;
    font-weight: bold;
  }
}

.sessions {
  border-bottom-right-radius: 10px;
}

.menu_option {
  margin: 5px;
  padding: 5px;
}

;

.menu_option:hover {
  background-color: $cyan;
}

.menu_option:active {
  background-color: $purple;
}

.workspaces:hover {
  color: $red;
}

.color-logo {
  color: $red;
}
