$foreground: #@foreground@;
$background: #@background@;
$line: #@line@;
$primary: #@primary@;
$box: #@box@;
$blue: #@blue@;
$cyan: #@cyan@;
$green: #@green@;
$orange: #@orange@;
$pink: #@pink@;
$purple: #@purple@;
$red: #@red@;
$yellow: #@yellow@;
